[alias]
	pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pretty2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
	fmdiff = difftool -y -t FileMerge
	pushf = push --force-with-lease
	fpush = push --force-with-lease

[core]
	autocrlf = false

[credential]
	# These are tried in succession
	helper = osxkeychain
	helper = wincred

[diff]
	algorithm = histogram
[difftool "FileMerge"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[merge]
	conflictstyle = diff3
	tool = vimdiff

# Test diff-highlight, which should be a bit better than regular word highlight
[pager]
	log = ~/.zsh.d/bin/diff-highlight | less -R
	show = ~/.zsh.d/bin/diff-highlight | less -R
	diff = ~/.zsh.d/bin/diff-highlight | less -R

[pull]
	rebase = true
[push]
	default = simple
[user]
	name = Filipe Cabecinhas

# From: https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
# for $deity's sake, check that anything we're getting is complete and sane on
# a regular basis
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true
