/*
!.*

.ooo3
.gconf*
.gnome2
.adobe
.allegrocl
.*authority
.bazaar
.beagle
.bzr.log
.cabal
.*cache*
.CFUserTextEncoding
.chromium
.config
.cpan
.cups
.darcs
.dbus
.DCOPserver*
.dmrc
.dropbox
.DS_Store
.dvc
.eclipse_keyring
.emacs.d
.esd_auth
.eshell
.fontconfig
.fonts
.fonts.conf
.ghc
.gimp-2.6
.gitconfig
.gksu.lock
.gnupg
.gpg*
.gstreamer-*
.gtkrc-2.0*
.*history
.hplip
.idapro
.java
.kde*
.lesshst
.local
.macromedia
.mailboxlist
.mcop
.mozilla
.nautilus
.pgpass
.pki
.plt-scheme
.projectM
.pulse*
.qt
.recentf
.recently-used
.recently-used.xbel
.semanticdb
.serverauth.*
.skel
.Skype
.slime*
.sqlite_history
.srecode
.ssh
.subversion/*
!.subversion/config
.thumbnails
.thunderbird
.tomboy*
.tor
.Trash
.ultrastar
.viminfo
.VirtualBox
.vmware
.wine
.wireshark*
.xine
.Xmodmap
.xsession-errors*
.y2log
.y2usersettings
.yast2
