/*
!.*
*.pyc

.subversion/*
!.subversion/config

.*authority
.*cache*
.*history

.CFUserTextEncoding
.DCOPserver*
.DS_Store
.Skype
.Trash
.VirtualBox
.Xmodmap

.adobe
.allegrocl
.android
.bazaar
.beagle
.boto
.bzr.log
.cabal
.chromium
.config
.cpan
.cups
.current_path~
.darcs
.dbus
.dmrc
.dropbox
.dvc
.eclim
.eclipse
.eclipse_keyring
.emacs.d
.esd_auth
.eshell
.fontconfig
.fonts
.fonts.conf
.gconf*
.ghc
.gimp-2.6
.gitconfig
.gitk
.gksu.lock
.gnome2
.gnupg
.gpg*
.gstreamer-*
.gtkrc-2.0*
.hplip
.htoprc
.idapro
.java
.kde*
.lesshst
.local
.macromedia
.mailboxlist
.matlab
.mcop
.mozilla
.nautilus
.netbeans*
.ooo3
.pearrc
.pgpass
.pki
.plt-scheme
.projectM
.pulse*
.qt
.recentf
.recently-used
.recently-used.xbel
.repoconfig
.repopickle_.gitconfig
.semanticdb
.serverauth.*
.skel
.slime*
.sqlite_history
.srecode
.ssh
.strapbomb
.thumbnails
.thunderbird
.tomboy*
.tor
.ultrastar
.vim/.netrwhist
.vim/eclim
.vim/plugin/eclim.vim
.viminfo
.vmware
.wavesurfer
.wine
.wireshark*
.xine
.xsession-errors*
.y2log
.y2usersettings
.yast2
.zcompdump
.zsh-update
