# version tracking files (local by default)
/.config/configstore/update-notifier-npm.json

/.subversion/*
!/.subversion/config

/.vim/.netrwhist
/.vim/black_*
/.vim/tags
/.vim/view
/.vim/viminfo
/.vim/yankring_history_v2.txt

# Local configurations
/.vim/after/plugin/autoset-rules-local.vim
/.shells/rc.local*
