# .inputrc file for configuring libreadline applications
set blink-matching-paren   on

# Useful for Mac OS X's file names
set completion-ignore-case on
# Converts between _ and -, if needed
set completion-map-case on
# if there are more than 150 possible completions for a word, ask the
# user if he wants to see all of them
set completion-query-items 150
set page-completions off

# Adding this to your /etc/inputrc or ~/.inputrc will result in a character
# being appended to any file-names returned by completion, in much the same
# way as ls -F works.
set visible-stats on
set colored-stats on

# try immediately showing all completion if it's ambiguous, instead of
# requiring a second tab
set show-all-if-ambiguous on

# set these for all readline programs for now
# kill to previous space or / (unix filename component)
# another option: backward-kill-word (M-DEL) (what I have in zsh)
Control-w: unix-filename-rubout
# regular c-w key rebound to c-W (welp, that's not how keyboards work in the terminal)
# Control-W: unix-word-rubout

$if Bash
  # In bash only, enable "magic space" so that typing space will show
  # completions. i.e. !!_ (where _ is space) will expand !! for you.
  Space: magic-space
$endif
