#log enable lldb verbose target symbol

command source ~/work/llvm/tools/lldb/examples/summaries/lldb
type category enable lldb

command source ~/work/llvm/tools/lldb/examples/summaries/essentials
command script import ~/work/llvm/utils/lldbDataFormatters.py
command script import ~/work/llvm/tools/clang/utils/ClangDataFormat.py

# Dump PyObject* values
command regex pyrepr 's/^(.*)$/expr -- (char*)PyString_AsString((PyObject*)PyObject_Repr((PyObject*) (%1) ))/'
command regex pystr 's/^(.*)$/expr -- (char*)PyString_AsString((PyObject*)PyObject_Str((PyObject*) (%1) ))/'
command regex pyunicode 's/^(.*)$/expr -- (char*)PyString_AsString((PyObject*)PyObject_Unicode((PyObject*) (%1) ))/'

# Show next few instructions after the program stops
target stop-hook add -o 'x/20i $pc'
# LLDB command version
#target stop-hook add -o 'memory read -f i -c 20 -a $pc'
